@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*--------------Página Inicial--------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #081b29;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25 px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}

.home {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.4s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.7s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.btn-box a:hover {
  color: #00abf0;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.4s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-img {
  width: 350px;
  height: 350px;
  background: #081b29;
}

.home-img .circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(#00abf0, #ca0789);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img .circle::after {
  content: "";
  position: absolute;
  width: 325px;
  height: 325px;
  background: #081b29;
  border-radius: 50%;
}

.home-img .circle::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 2s ease forwards;
  animation-delay: 1s;
}

.circle span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.circle .image {
  position: relative;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}

.image img {
  position: absolute;
  top: 0;
  left: 40%;
  transform: translateX(-40%);
  max-width: 400px;
  object-fit: cover;
  position: relative;
}

.teste {
  position: relative;
}

.teste ::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 2s ease forwards;
  animation-delay: 1s;
}

/*Chaves de animação*/
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 2s ease forwards;
  animation-delay: 1s;
}

/*--------------Página de Projetos--------------*/

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card {
  margin-top: 25%;
  border-radius: 16px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#333, #333);
  transition: all 0.5s;
  margin-right: 100px;
}

.card:hover {
  background-image: linear-gradient(#00abf0, #ca0789);
  margin-bottom: 130px;
}

.card .img1 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url("siteICBE.png");
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  z-index: 2;
  position: relative;
  opacity: 0.8;
}

.card .img1 span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all 0.5s;
  color: transparent;
}

.card:hover .img1 {
  width: 430px;
  opacity: 1;
}

.card:hover .img1 span {
  color: #081b29;
  font-size: 28px;
}

.card .img2 {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url("sandbox.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  z-index: 2;
  position: relative;
  opacity: 0.8;
}

.card .img2 span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all 0.5s;
  color: transparent;
}

.card:hover .img2 {
  width: 430px;
  opacity: 1;
}

.card:hover .img2 span {
  color: #081b29;
  font-size: 28px;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: 0.8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all 0.5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
}

/*--------------Pagina contatos--------------*/

.contato-forms {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10%;
}

/*
.contato-forms::before {
  content: " ";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 4;
}
*/

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.borda {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 45px;

  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.borda::before {
  content: " ";
  position: absolute;
  right: 0;
  width: 110%;
  height: 120%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2s;
  z-index: 4;
}

section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form label {
  margin-bottom: 4px;
}

form button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

form button::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

form button:hover::before {
  width: 100%;
}

form button:hover {
  color: #00abf0;
}

.marg {
  margin-top: 20px;
  padding: 10px;
}

/*--------------Página de Parceiros--------------*/
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  position: relative;
  border: solid #00abf0;
  border-radius: 1%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  margin-right: 10px;
}

/*--------------Página Obrigado (só aparece quando enviar o email no contatos)--------------*/

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #081b29;
  flex-direction: column;
}

.btn {
  margin-top: 20px;
  padding: 10px;
}
